body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

.business-card {
  width: 300px;
  text-align: center;
  font-size: 16px;
  background-color: white;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.profile-image {
  max-width: 100%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

p {
  margin: 5px 0;
}
a {
  text-decoration: none;
}
