#email {
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px solid #000;
  box-sizing: border-box;
  background-color: rgb(250, 233, 177);
  overflow: hidden;
}
#secret-conf {
  border: 5px solid red;
  color: red;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  transform: rotate(-10deg);
  position: relative;
  bottom: 50px;
  right: 50px;
}
#confidential {
  display: inline-block;
  padding: 10px;
  margin-left: 5px;
  border: 5px solid red;
  color: red;
  transform: rotate(10deg);
  position: relative;
  left: 130px;
  font-weight: bold;
  font-size: 25px;
}
#top-secret {
  display: inline-block;
  padding: 10px;
  margin-left: 5px;
  border: 5px solid red;
  color: red;
  font-weight: bold;
  font-size: 25px;
  transform: rotate(-15deg);
}

.blurred {
  filter: blur(3px);
}
