body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 75);
  font-family: "Courier New", Courier, monospace;
}
.pricing-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 200px;
  border: 2px solid black;
  height: 500px;
  max-width: 400px;
}
.pricing-card h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.pricing-card span {
  font-size: 40px;
  font-weight: 900;
}
.pro-plan {
  order: 1;
  flex-grow: 2;
}
.premium-plan {
  order: 2;
}

.basic-plan {
  order: 0;
}
.trial-btn {
  color: white;
  padding: 20px;
  margin: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  background-color: rgb(0, 0, 75);
}
.trial-btn:hover {
  background-color: rgb(50, 50, 150);
}
.learn-btn {
  color: rgb(0, 0, 75);
  text-decoration: underline;
  text-underline-offset: 5px;
  margin: 30px;
  padding: 0 0 0 1px;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}
.learn-btn:hover {
  color: rgb(50, 50, 150);
  transform: scale(1.3);
}
