p {
  margin: 0;
}
#playing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  perspective: 1000px;
}
.red-card {
  color: red;
}
.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  max-width: 250px;
  height: 350px;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card:hover {
  transform: rotateY(180deg);
}
.left {
  align-self: flex-start;
}
.middle {
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: 80px;
}
.right {
  align-self: flex-end;
}
