/* House container */
#house {
  margin-top: 130px;
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #f3e0c6;
  border: 4px solid #333;
}

/* Roof */
#roof {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100px;
  background-color: #a33;
  border: 3px solid #333;
}

/* Chimney (behind the house) */
#chimney {
  position: absolute;
  top: -120px;
  left: 340px;
  width: 60px;
  height: 120px;
  background-color: #5a3b2e;
  border: 3px solid #333;
  z-index: -1;
}

/* Windows */
#window-1 {
  position: absolute;
  top: 120px;
  left: 60px;
  width: 80px;
  height: 80px;
  background-color: #9fd3ff;
  border: 3px solid #333;
}

#window-2 {
  position: absolute;
  top: 120px;
  right: 60px;
  width: 80px;
  height: 80px;
  background-color: #9fd3ff;
  border: 3px solid #333;
}

/* Door */
#door {
  position: absolute;
  bottom: 0;
  left: 200px;
  width: 100px;
  height: 150px;
  background-color: #6b3f2b;
  border: 3px solid #333;
}
