body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.space {
  height: 200px;
  width: 200px;
  position: relative;
}
.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: rgb(0, 140, 255);
  border-radius: 50%;
  box-shadow: 0px 0px 24px 13px rgba(53, 248, 255, 0.74);
}
.orbit {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: orbit 5s linear infinite;
}
.moon {
  background-color: #ccc;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px #ccc;
}
@keyframes orbit {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
